@import url('./normalize.css');
* {
  box-sizing: border-box;
}
html {
  display: block;
  font-family: Verdana, Geneva, Tahoma;
}
body {
  display: flex;
  gap: 50px;
  height: 100vh;
  flex-direction: column;
  background-color: #6f6c9e;
  background-image: linear-gradient(#bfd2de ,#6f6c9e);
  padding: 10px;
}
h1, .h1 {
  font-size: 64px;
  text-align: center;
  margin: 0 auto;
}
.keyboard {
  margin: 0 auto;
}
.keyboard__body {
  height: 333px;
  width: 755px;
  padding: 5px;
  border: 3px solid #e3c09b;
  border-radius: 5px;
  background-color: rgba(187, 125, 178, 1);
  user-select: none;
}
.keyboard__key {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  border: none;
  background-color: rgba(215, 203, 212, 0.82);
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: rgba(215, 203, 212, 0.9);
}
.keyboard__special-keys {
  width: 100px;
  background-color: rgba(215, 203, 212, 0.5);
  -webkit-tap-highlight-color: rgba(215, 203, 212, 0.9);
}
.keyboard__key:active {
  background-color: rgba(215, 203, 212, 1);
  border: 1px solid #6f6c9e;
}
.keyboard__key-light:after {
  content: '';
  position: absolute;
  border-radius: 4px;
  height: 4.5px;
  width: 10px;
  top: 3px;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}
.keyboard__key-light_active:after {
  background-color: #ffffff;
}